.header {
    background-color: #e17afa; /* Blue background color */
    color: #fff; /* White text color */
    padding: 20px;
    text-align: center;

    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    
}
  
.header-title {
    font-size: 50px;
    width: 100%;
    border-bottom: 5px solid white;
    line-height: 0.1em;
    margin: 10px 0 20px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.header-title span {
    background: #e17afa;
    padding: 0 10px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;

}

/* This one is unused so far*/
.header-image-home {
    width: 95%; /* Set the width of the image to 50% of its parent container */
  height: auto;
}

.header-image {
    width: 75%; /* Set the width of the image to 50% of its parent container */
  height: auto;
}